.blob1 {
    position: absolute;
    top: -62%;
    right: -113%;
    transform: rotate(83deg);
}

.blob1>svg {
  width: 79rem;
}

.blob2 {
  position: absolute;
  top: 45%;
  right: -114%;
  transform: rotate(286deg);
}

.blob2>svg {
  width: 79rem;
}

@media (min-width: 480px) {

  .blob1 {
        position: absolute;
        top: -68%;
        right: -113%;
        transform: rotate(83deg);
  }
 .blob1>svg, {
    width: 101rem;
  }
}